In [11]:
import pandas as pd
#Zadání 1
praha = pd.read_csv("zam_praha.csv")
plzen = pd.read_csv("zam_plzen.csv")
liberec = pd.read_csv("zam_liberec.csv")

In [12]:
praha["mesto"] = "Praha"
plzen["mesto"] = "Plzen"
liberec["mesto"] = "Liberec"

zamestnanci = pd.concat([praha, plzen, liberec])

In [13]:
platy = pd.read_csv("platy.csv")
zamestnanci_s_platy = pd.merge(zamestnanci, platy, on="cislo_zamestnance")

In [14]:
print(f"Pocet radku v puvodni tabulce byl {zamestnanci.shape[0]}, po spojeni s platy bylo {zamestnanci_s_platy.shape[0]} radku.")

Pocet radku v puvodni tabulce byl 56, po spojeni s platy bylo 43 radku.

In [15]:
# průměrný plat zaměstnanců v jednotlivých kancelářích.
zamestnanci_s_platy.groupby("mesto")["plat"].mean()

mesto
Liberec    43775.000000
Plzen      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [16]:
#Zadání 2
vykazy = pd.read_csv("https://raw.githubusercontent.com/JankaMarschalkova/python-podzim-pondeli-2023/main/ukoly/vykazy.csv")
vykazy.head(3)

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72

In [17]:
# celkový počet vykázaných hodin za jednotlivé projekty
vykazy.groupby("project")["hours"].sum()

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

In [18]:
#Nepovinný bonus 1
nepracujici = zamestnanci.shape[0] - platy.shape[0]
print(f"Nepracujicich ve firme je {nepracujici}.")

Nepracujicich ve firme je 13.

In [19]:
#Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují. Tabulku ulož do souboru CSV.

jiz_nepracujou=pd.merge(zamestnanci, platy, on="cislo_zamestnance", how="outer")
jiz_nepracujou= jiz_nepracujou[jiz_nepracujou['plat'].isnull()]

byvali_zamestnanci=jiz_nepracujou.drop(["telefonni_cislo","cislo_zamestnance","mesto","plat"], axis="columns")
byvali_zamestnanci
byvali_zamestnanci.to_csv("byvali_zamestnanci.csv", index = False)